/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fdfdfd;
  font-family: Arial, sans-serif;
  color: #000;
}

.home-container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 35px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 8px;
}

.login-container {
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background: #5a67d8;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background: #434190;
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  font-size: 14px;
  color: #666;
}

.register-link a {
  color: #5a67d8;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  color: #434190;
}
